<div class="test-overview">
    <div class="title">Прислів'я анаграми</div>
    <div class="description"> Напиши пропущені слова в прислів'ях, користуючись підказкою-анаграмою. Поясни сенс кожного прислів'я</div>
</div>

<div class="test-action">
    <div class="base"
         data-test="sortableRow"
         data-replace="false"
         id="base">
        <ul class="row slide-list">
            <li>
                <input id="1" type="hidden" data-correct-value="багатства">
                <label for="1">Добре ім’я краще</label>
            </li>
            <li>
                <input id="2" type="hidden" data-correct-value="людини">
                <label for="2">Сила та розум — краса</label>
            </li>
            <li>
                <input id="3" type="hidden" data-correct-value="діла">
                <label for="3">Добрий початок половина</label>
            </li>
            <li>
                <input id="4" type="hidden" data-correct-value="навчився">
                <label for="4">Мудрим ніхто не вродився, а</label>
            </li>
            <li>
                <input id="5" type="hidden" data-correct-value="розум">
                <label for="5">На те й голова, щоб у ній</label>
            </li>
            <li>
                <input id="6" type="hidden" data-correct-value="поїдеш">
                <label for="6">На чужому коні далеко не</label>
            </li>
            <li>
                <input id="7" type="hidden" data-correct-value="розум">
                <label for="7">Око бачить далеко, а<span>ще далі</span></label>
            </li>
            <li>
                <input id="8"  type="hidden" data-correct-value="людину">
                <label for="8">В лиху годину пізнаєш вірну</label>
            </li>
        </ul>
    </div>
    <ul id="slideControls"
        class="controls">
        <li id="prev" class="prev"><</li>
        <li id="next" class="next">></li>
    </ul>
</div>
