<div class="test-overview">
    <div class="title">Термометер</div>
    <div class="description">Марко щодня позначає температуру повітря в календарі погоди. Допоможи хлопчику записати числами показники погоди</div>
</div>

<div class="test-action">
    <div data-test="slider">
        <ul class="row">
            <li>
                <input id="1" name="task1" type="hidden" value="" data-correct-value="8">
                <label for="1">Вісім градусів тепла</label>
            </li>
            <li>
                <input id="2" name="task1" type="hidden" value="" data-correct-value="-15">
                <label for="2">П’ятнадцять градусів морозу</label>
            </li>
            <li>
                <input id="3" name="task1" type="hidden" value="" data-correct-value="-12">
                <label for="3">Мінус дванадцять</label>
            </li>
            <li>
                <input id="4" name="task1" type="hidden" value="" data-correct-value="5">
                <label for="4">П’ять градусів вище нуля</label>
            </li>
            <li>
                <input id="5" name="task1" type="hidden" value="" data-correct-value="0">
                <label for="5">Нульова температура</label>
            </li>
            <li>
                <input id="6" name="task1" type="hidden" value="" data-correct-value="-30">
                <label for="6">Тридцятиградусний мороз</label>
            </li>
        </ul>
    </div>
</div>

