<div class="test-overview">
    <div class="title">Термометер</div>
    <div class="description">Підкажи Маркові, навіщо необхідний кожен із цих термоментрів: з'єднай назви термоментрів із їхнім призначенням</div>
</div>

<div class="test-action">
    <div class="base"
         data-test="sortableCol"
         data-replace="true"
         id="base">
        <ul class="row">
            <li>
                <input id="1" name="task1" type="hidden" data-correct-value="кімнатним">
                <label for="1">виміряти температуру повітря в кімнаті</label>
            </li>
            <li>
                <input id="2" name="task1" type="hidden" data-correct-value="водним">
                <label for="2">з'ясувати температуру води в басейні</label>
            </li>
            <li>
                <input id="3" name="task1" type="hidden" data-correct-value="медичним">
                <label for="3">виміряти температуру тіла людини</label>
            </li>
            <li>
                <input id="4" name="task1" type="hidden" data-correct-value="вуличним">
                <label for="4">дізнатися, яка температуру повітря надворі</label>
            </li>
        </ul>
    </div>
</div>

